*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 108, 108);
}

.wrap{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
    text-align: center;
}

.material-icons{
    font-size:10rem;
}

.lg-text{
    font-size:2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.sm-text{
    font-size: 1.5rem;
}

#dynamic{
    position: relative;
    display: inline-block;
/* p태크에 있는 속성에 다른 속성값을 더해줌으로써 글자에 맞춰 공간을 차지하도록 */
}

#dynamic::after{
    content:""; 
    display: block;
    position: absolute;
    top:0;
    right:-10px;
    width:4px;
    height:100%;
    background-color: white;
}
/* dynamic 이라는 id를 가진 태그가 .active라는 속성을 같이 가지고있다면 */
#dynamic.active::after{
    display: none;
}